<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cdmts.paymentApps.entity.mapper.OrderMapper">



	<!-- ORDERマップ -->
	<resultMap id="orderMap" type="com.cdmts.paymentApps.model.Order">
		<id column="ORDERID" property="orderId"/>
		<result column="ORDER_DATE" property="orderDate"/>
		<result column="RESERVED_TIME" property="reservedTime"/>
		<result column="SERVING_STATUS" property="servingStatus"/>
		<result column="PAYMENTID" property="paymentId"/>
		<result column="PAYMENT_STATUS" property="paymentStatus"/>
	</resultMap>
	<!-- ORDER_ITEMマップ -->
	<resultMap id="orderItemMap" type="com.cdmts.paymentApps.model.OrderItem">
		<id column="ORDER_ITEM_ID" property="orderItemId"/>
		<result column="ORDERID" property="orderId"/>
		<result column="ITEMID" property="itemId"/>
		<result column="QUANTITY" property="quantity"/>
	</resultMap>
	<!-- ITEMマップ -->
	<resultMap id="itemMap" type="com.cdmts.paymentApps.model.Item">
		<id column="ITEMID" property="itemId"/>
		<result column="ITEM_NAME" property="itemName"/>
		<result column="PRICE" property="price"/>
		<result column="AVAILABLE" property="available"/>
	</resultMap>
	
	
	
	<select id="selectOrdersByOrderId" resultMap="orderMap" parameterType="java.lang.Long">
		SELECT ORDERID, ORDER_DATE, RESERVED_TIME, SERVING_STATUS, PAYMENTID, PAYMENT_STATUS
		FROM ORDER_TABLE
		WHERE ORDERID = #{orderId}
	</select>
	
	<select id="selectOrderItemsByOrderId" resultMap="orderItemMap" parameterType="java.lang.Long">
		SELECT ORDER_ITEM_ID, ORDERID, ITEMID, QUANTITY
		FROM ORDER_ITEM_TABLE
		WHERE ORDERID = #{orderId}
	</select>
	
	<select id="selectItemByItemId" resultMap="itemMap" parameterType="java.lang.Long">
		SELECT ITEMID, ITEM_NAME, PRICE, AVAILABLE
		FROM ITEM_TABLE
		WHERE ITEMID = #{itemId}
	</select>
	
	<select id="selectAllOrders" resultMap="orderMap">
		SELECT ORDERID, USERID, ORDER_DATE, SERVING_STATUS, PAYMENTID, PAYMENT_STATUS
		FROM ORDER_TABLE
	</select>
	
	<select id="selectAllItems" resultMap="itemMap">
		SELECT ITEMID, ITEM_NAME, PRICE, AVAILABLE
		FROM ITEM_TABLE
	</select>
	
	<select id="selectServingStatusByOrderId" resultMap="orderMap">
		SELECT SERVING_STATUS
		FROM ORDER_TABLE
		WHERE ORDERID = #{orderId}
	</select>
	
	
	
	<insert id="insertOrder" parameterType="com.cdmts.paymentApps.model.Order" useGeneratedKeys="true" keyProperty="orderId">
		INSERT INTO ORDER_TABLE (ORDER_DATE, RESERVED_TIME, SERVING_STATUS, PAYMENTID, PAYMENT_STATUS)
		VALUES (#{orderDate}, #{reservedTime}, #{servingStatus}, #{paymentId}, #{paymentStatus})
	</insert>
	
	<insert id="insertOrderItem" parameterType="com.cdmts.paymentApps.model.OrderItem" useGeneratedKeys="true" keyProperty="orderItemId">
		INSERT INTO ORDER_ITEM_TABLE (ITEMID , ORDERID, QUANTITY)
		VALUES (#{itemId}, #{orderId}, #{quantity})
	</insert>
	
	<insert id="insertItem" parameterType="com.cdmts.paymentApps.model.Item">
		INSERT INTO ITEM_TABLE (ITEMID ,ITEM_NAME, PRICE, AVAILABLE)
		VALUES (#{itemId}, #{itemName}, #{price}, #{available})
	</insert>
	
	
	
	<update id="updateItemAvailablityByItemId" parameterType="com.cdmts.paymentApps.model.Item">
    	UPDATE ITEM_TABLE
    	SET AVAILABLE=#{available}
    	WHERE ITEMID=#{itemId}
	</update>
	
	<update id="updateServingStatusByOrderId" parameterType="com.cdmts.paymentApps.model.Order">
    	UPDATE ORDER_TABLE
    	SET SERVING_STATUS = #{servingStatus}
    	WHERE ORDERID = #{orderId}
	</update>
	
	<update id="updatePaymentStatusByOrderId" parameterType="com.cdmts.paymentApps.model.Order">
		UPDATE ORDER_TABLE
		SET PAYMENT_STATUS = #{paymentStatus}
		WHERE ORDERID = #{orderId}
	</update>
	
</mapper>