<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.demo.entity.mapper.UserMapper">
	<!-- USERマップ(およびORDERマップとのリレーション) -->
	<resultMap id="userMap" type="com.example.demo.entity.UserTable">
		<id column="USERID" property="userId"/>
		<collection property="orders" ofType="com.example.demo.model.Order"
					column="USERID" select="selectOrdersByUserId"/>
	</resultMap>
	<!-- ORDERマップ（およびORDERITEMマップとのリレーション） -->
	<resultMap id="orderMap" type="com.demo.model.Order">
		<id column="ORDERID" property="orderId"/>
		<result column="ORDER_DATE" property="orderDate"/>
		<result column="PAYMENT_METHOD" property="paymentMethod"/>
		<result column="PAYMENT_STATUS" property="paymentStatus"/>
		<collection property="items" ofType="com.example.demo.model.OrderItem"
					column="ORDERID" select="selectOrderItemsByOrderId"/>
	</resultMap>
	
	<select id="selectById" resultMap="userMap" parameterType="java.lang.Long">
			SELECT USERID
			FROM USER_TABEL
			WHERE USERID = #{userId}
	</select>
	
	<select id="selectOrdersByUserId" resultMap="orderMap" parameterType="java.lang.Long">
		SELECT ORDERID, USERID, ORDER_DATE, PAYMENT_METHOD, PAYMENT_STATUS
		FROM ORDER_TABLE
		WHERE USERID = #{userId}
	</select>
	
	<select id="selectOrderItemsByOrderId" resultType="com.example.demo.model.OrderItem" parameterType="java.lang.Long">
		SELECT ITEMID, ITEM_NAME, QUANTITY, PRICE
		FROM ORDER_ITEM_TABLE
		WHERE ORDERID= #{orderId}
	</select>
	
	<insert id="insert" parameterType="com.example.demo.entity.UserTable">
		INSERT INTO USER_TABLE (USERID)
		VALUES (USER_SEQ.NEXTVAL)
	</insert>
	
	<insert id="insertOrder" parameterType="com.example.demo.model.Oeder">
		INSERT INTO ORDER_TABLE (ORDERID, USERID, ORDER_DATE, PAYMENT_METHOD, PAYMENT_STATUS)
		VALUES (ORDER_SEQ.NEXTVAL, #{userId}, #{orderDate}, #{paymentMethod}, #{paymentStatus})
	</insert>
	
	<insert id="insertOrderItem" parameterType="com.example.demo.model.OrderItem">
		INSERT INTO ORDER_ITEM_TABLE (ITEMID, ITEM_NAME, QUANTITY, PRICE)
		VALUES (ITEM_SEQ.NEXTVAL, #{orderId}, #{itemName}, #{quantity}, #{price})
	</insert>
	
</mapper>